@page "/plots"

<PageTitle>Show plots about the system.</PageTitle>

@using Plotly.Blazor.Traces.ScatterLib
@using Plotly.Blazor
@using Plotly.Blazor.Traces
@using RedisClientsWatcher.Data
@using Plotly.Blazor.LayoutLib

<h3>Plots</h3>

<PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="data" @ref="chart"/>

@code {
    PlotlyChart chart;
    Config config = new Config();
    Layout layout = new Layout()
    {
        XAxis = new[]
        {
            new XAxis
            {
                Title = new Plotly.Blazor.LayoutLib.XAxisLib.Title()
                {
                    Text = "Time(hh:mm:ss)"
                },
            },
        },
        YAxis = new[]
        {
            new YAxis()
            {
                Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title()
                {
                    Text = "Number"
                },
            }
        }
    };
    
    // Using of the interface IList is important for the event callback!
    IList<ITrace> data = HandleData(
        threadPoolLogFilePath: "./logs/ThreadPool/ThreadPool-20230327.jsonl",
        dataControllerLogFilePath: "./logs/DataController/DataController-20230327.jsonl"
        );

    private static IList<ITrace> HandleData(string threadPoolLogFilePath, string dataControllerLogFilePath)
    {
        var threadPoolLog = PlotService.ParseThreadPoolLog(threadPoolLogFilePath);
        var dataControllerExceptionLog = PlotService.ParseDataControllerExceptionLog(dataControllerLogFilePath);
        
        var startTime = DateTimeOffset.Parse(threadPoolLog[0].Time);
        
        return new List<ITrace>
        {
            new Scatter
            {
                Name = "Busy Worker Threads",
                Mode = ModeFlag.Lines | ModeFlag.Markers,
                Y = threadPoolLog.Select(d => d.BusyWorkerThreads as object).ToList(), 
                X = threadPoolLog.Select(d =>
                {
                    var timeSpan = DateTimeOffset.Parse(d.Time) - startTime;
                    return timeSpan.Seconds as object;
                }).ToList()
            },
            // new Scatter
            // {
            //     Name = "Max Worker Threads",
            //     Mode = ModeFlag.Lines | ModeFlag.Markers,
            //     Y = data.Select(d => d.MaxWorkerThreads as object).ToList(), 
            //     X = data.Select(d =>
            //     {
            //         var timeSpan = DateTime.Parse(d.Time) - startTime;
            //         return timeSpan as object;
            //     }).ToList()
            // },
            new Scatter
            {
                Name = "Busy IO Threads",
                Mode = ModeFlag.Lines | ModeFlag.Markers,
                Y = threadPoolLog.Select(d => d.BusyIoThreads as object).ToList(), 
                X = threadPoolLog.Select(d =>
                {
                    var timeSpan = DateTime.Parse(d.Time) - startTime;
                    return timeSpan as object;
                }).ToList()
            },
            new Bar
            {
                Name = "Data Controller Exceptions",
                Y = dataControllerExceptionLog.Select(d => d.Count as object).ToList(),
                X = dataControllerExceptionLog.Select(d =>
                {
                    var timeSpan = DateTimeOffset.Parse(d.Time) - startTime;
                    return timeSpan.Seconds as object;
                }).ToList(),
                Marker = new Plotly.Blazor.Traces.BarLib.Marker()
                {
                    Color = "red"
                },
                Width = (decimal?)0.5,
            }
        };
    }
}